In [1]:
import pandas as pd

In [2]:
bd = pd.read_csv(r'C:\Users\RahulK\Downloads\Machine Learning By Pranjal Sir\Supervised\SVM\BankDeposit - svmfile.csv')

In [3]:
bd.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
bd.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()

In [7]:
bd.job.value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [8]:
# If we had 3-4 categories, we could have took it as an ordinal
# Also, we cannot define the position of which one comes in which hierarchy position

In [9]:
bd.marital.value_counts()

married     24928
single      11568
divorced     4612
unknown        80
Name: marital, dtype: int64

In [10]:
bd.education.value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [11]:
bd.default.value_counts()

no         32588
unknown     8597
yes            3
Name: default, dtype: int64

In [12]:
bd.housing.value_counts()

yes        21576
no         18622
unknown      990
Name: housing, dtype: int64

In [14]:
bd.loan.value_counts()

no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

In [15]:
bd.contact.value_counts()

cellular     26144
telephone    15044
Name: contact, dtype: int64

In [19]:
bd.month.value_counts()

may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

In [20]:
bd.day_of_week.value_counts()

thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: day_of_week, dtype: int64

In [21]:
bd.poutcome.value_counts()

nonexistent    35563
failure         4252
success         1373
Name: poutcome, dtype: int64

In [22]:
bd.y.value_counts()

no     36548
yes     4640
Name: y, dtype: int64

In [23]:
bd.job = le.fit_transform(bd.job)
bd.marital = le.fit_transform(bd.marital)
bd.contact = le.fit_transform(bd.contact)

In [24]:
bd.education.replace({'illiterate': 0, 'unknown': 0, 'basic.4y': 1,
                     'basic.6y': 2, 'basic.9y': 3, 'high.school': 4,
                     'university.degree': 5, 'professional.course': 6 }, inplace= True)
bd.default.replace({'no': 0,  'unknown': 0, 'yes':1}, inplace= True)
bd.housing.replace({'no': 0,  'unknown': 0, 'yes':1}, inplace= True)
bd.loan.replace({'no': 0,  'unknown': 0, 'yes':1}, inplace= True)
bd.month.replace({'mar': 3, 'apr':4, 'may': 5, 'jun': 6, 'jul': 7,
                 'aug': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12},
                inplace= True)
bd.day_of_week.replace({'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4,
                       'fri': 5}, inplace= True)
bd.poutcome.replace({'nonexistent': 0, 'failure': 1, 'success': 2}, inplace= True)
bd.y.replace({'no': 0, 'yes': 1}, inplace= True)

In [25]:
bd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  int32
 2   marital         41188 non-null  int32
 3   education       41188 non-null  int64
 4   default         41188 non-null  int64
 5   housing         41188 non-null  int64
 6   loan            41188 non-null  int64
 7   contact         41188 non-null  int32
 8   month           41188 non-null  int64
 9   day_of_week     41188 non-null  int64
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  int64
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int32(3), int64(13)
memory usage: 6.1 MB

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
bd_train, bd_test = train_test_split(bd, test_size= .2)

In [28]:
bd_train_x = bd_train.iloc[:, 0:-1]
bd_train_y = bd_train.iloc[:, -1]

bd_test_x = bd_test.iloc[:, 0:-1]
bd_test_y = bd_test.iloc[:, -1]

In [29]:
from sklearn.svm import SVC

# SVC is Support Vector Classifier

In [30]:
bd_svc = SVC()

In [31]:
bd_svc.fit(bd_train_x, bd_train_y)

# This take some time

SVC()

In [32]:
pred = bd_svc.predict(bd_test_x)

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [34]:
tab = confusion_matrix(bd_test_y, pred)
tab

array([[7192,  119],
       [ 706,  221]], dtype=int64)

In [35]:
Accuracy = accuracy_score(bd_test_y, pred)*100
Accuracy

89.98543335761107

In [36]:
# We will change the kernel as it is hyperparameter

In [37]:
bd_svc = SVC(kernel= 'linear')

# default kernel is rbf

In [38]:
bd_svc.fit(bd_train_x, bd_train_y)

SVC(kernel='linear')

In [39]:
pred = bd_svc.predict(bd_test_x)

In [40]:
tab = confusion_matrix(bd_test_y, pred)
tab

array([[7056,  255],
       [ 560,  367]], dtype=int64)

In [42]:
Accuracy = accuracy_score(bd_test_y, pred)*100
Accuracy

90.10682204418549

In [41]:
bd_svc = SVC(kernel= 'poly')

In [43]:
bd_svc.fit(bd_train_x, bd_train_y)

SVC(kernel='poly')

In [44]:
pred = bd_svc.predict(bd_test_x)

In [45]:
tab = confusion_matrix(bd_test_y, pred)
tab

array([[7189,  122],
       [ 703,  224]], dtype=int64)

In [46]:
Accuracy = accuracy_score(bd_test_y, pred)*100
Accuracy

89.98543335761107

In [47]:
bd_svc = SVC(kernel= 'sigmoid')

In [48]:
bd_svc.fit(bd_train_x, bd_train_y)

SVC(kernel='sigmoid')

In [49]:
pred = bd_svc.predict(bd_test_x)

In [50]:
tab = confusion_matrix(bd_test_y, pred)
tab

array([[7193,  118],
       [ 711,  216]], dtype=int64)

In [51]:
Accuracy = accuracy_score(bd_test_y, pred)*100
Accuracy

89.9368778829813

In [52]:
bd_svc = SVC(kernel= 'poly', degree= 4)

# degree is 3 by default and only used in poly kernel

In [53]:
bd_svc.fit(bd_train_x, bd_train_y)

SVC(degree=4, kernel='poly')

In [54]:
pred = bd_svc.predict(bd_test_x)

In [55]:
tab = confusion_matrix(bd_test_y, pred)
tab

array([[7183,  128],
       [ 697,  230]], dtype=int64)

In [56]:
Accuracy = accuracy_score(bd_test_y, pred)*100
Accuracy

89.98543335761107

In [57]:
# Whenever you are targeting a customer or running a campaign, always check the Precision

# And not the Accuracy
# With kernel as linear, accuracy although is high, but does not serve the purpose
# Here kernel rbf is giving the maximum precision and hence, we will take rbf as a hyperparameter