In [1]:
import pandas as pd

In [2]:
cr = pd.read_csv(r'C:\Users\RahulK\Downloads\Machine Learning By Pranjal Sir\Decision Tree\CreditRisk.csv')

In [3]:
cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
cr.shape

(981, 13)

In [5]:
cr.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
cr.Gender.fillna('Male', inplace= True)
cr.Married.fillna('No', inplace= True)
cr.Dependents.fillna(0, inplace= True)
cr.Self_Employed.fillna('No', inplace= True)
cr.LoanAmount.fillna(cr.LoanAmount.mean(), inplace=True)
cr.Loan_Amount_Term.fillna(cr.Loan_Amount_Term.mean(), inplace= True)
cr.Credit_History.fillna(0, inplace=True)

In [7]:
cr.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
cr[cr.select_dtypes( include= ['object']).columns] = cr[cr.select_dtypes( include= ['object']).columns].apply(le.fit_transform)

In [10]:
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            981 non-null    int32
 1   Gender             981 non-null    int32
 2   Married            981 non-null    int32
 3   Dependents         981 non-null    float64
 4   Education          981 non-null    int32
 5   Self_Employed      981 non-null    int32
 6   ApplicantIncome    981 non-null    int64
 7   CoapplicantIncome  981 non-null    float64
 8   LoanAmount         981 non-null    float64
 9   Loan_Amount_Term   981 non-null    float64
 10  Credit_History     981 non-null    float64
 11  Property_Area      981 non-null    int32
 12  Loan_Status        981 non-null    int32
dtypes: float64(5), int32(7), int64(1)
memory usage: 72.9 KB

In [11]:
cr1 = cr

In [12]:
cr = cr.drop(['Loan_ID'], axis = 1)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
train_cr, test_cr = train_test_split(cr, test_size=.2)

In [15]:
train_cr_x = train_cr.iloc[: , 0:-1]
train_cr_y = train_cr.iloc[: , -1]

test_cr_x = test_cr.iloc[: , 0:-1]
test_cr_y = test_cr.iloc[: , -1]

In [16]:
train_cr_x.shape

(784, 11)

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
dt_cr = DecisionTreeClassifier()

# Default hyper parameter is gini

# we can change it by dt_cr = DecisionTreeClassifier(criterion='entropy')

In [19]:
dt_cr.fit(train_cr_x, train_cr_y)

DecisionTreeClassifier()

In [20]:
pred_dt = dt_cr.predict(test_cr_x)

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
logreg = LogisticRegression()

In [23]:
logreg.fit(train_cr_x, train_cr_y)

C:\Users\RahulK\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [24]:
pred_log = logreg.predict(test_cr_x)

In [25]:
from sklearn.metrics import confusion_matrix

In [26]:
tab_dt = confusion_matrix(test_cr_y, pred_dt)

In [27]:
tab_dt

array([[ 33,  27],
       [ 17, 120]], dtype=int64)

In [28]:
tab_lr = confusion_matrix(test_cr_y, pred_log)
tab_lr

array([[ 32,  28],
       [ 15, 122]], dtype=int64)

In [29]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [30]:
print('Accuracy score is --> ', accuracy_score(test_cr_y, pred_dt)*100)
print('Precision score is --> ', precision_score(test_cr_y, pred_dt)*100)
print('Recall score is --> ', recall_score(test_cr_y, pred_dt)*100)
print('F1 score is --> ', f1_score(test_cr_y, pred_dt)*100)

# From GINI - Decision Tree

Accuracy score is -->  77.66497461928934
Precision score is -->  81.63265306122449
Recall score is -->  87.59124087591242
F1 score is -->  84.50704225352112

In [31]:
print('Accuracy score is --> ', accuracy_score(test_cr_y, pred_log)*100)
print('Precision score is --> ', precision_score(test_cr_y, pred_log)*100)
print('Recall score is --> ', recall_score(test_cr_y, pred_log)*100)
print('F1 score is --> ', f1_score(test_cr_y, pred_log)*100)


# From Logistic Regression

Accuracy score is -->  78.1725888324873
Precision score is -->  81.33333333333333
Recall score is -->  89.05109489051095
F1 score is -->  85.01742160278745

In [32]:
# Practice building model on
# Churn data
# Diabetes data
# Breast Cancer Data
# Compare the confusion matrix of log and dt and see if dt improves model or not

In [27]:
dt_cr = DecisionTreeClassifier(criterion='entropy')

In [28]:
dt_cr.fit(train_cr_x, train_cr_y)

DecisionTreeClassifier(criterion='entropy')

In [29]:
pred_dt = dt_cr.predict(test_cr_x)

In [30]:
tab_dt = confusion_matrix(test_cr_y, pred_dt)
tab_dt

array([[ 20,  28],
       [ 27, 122]], dtype=int64)

In [37]:
print('Accuracy score is --> ', accuracy_score(test_cr_y, pred_dt)*100)
print('Precision score is --> ', precision_score(test_cr_y, pred_dt)*100)
print('Recall score is --> ', recall_score(test_cr_y, pred_dt)*100)
print('F1 score is --> ', f1_score(test_cr_y, pred_dt)*100)

# From Entropy - Decision Tree

Accuracy score is -->  72.08121827411168
Precision score is -->  81.33333333333333
Recall score is -->  81.87919463087249
F1 score is -->  81.60535117056857

In [33]:
# With GINI our confusion matrix was

# array([[ 22,  26],
#       [ 24, 125]], dtype=int64)


# With Entropy our confusion matrix is

# array([[ 20,  28],
#       [ 27, 122]], dtype=int64)

In [34]:
dt_cr.feature_importances_

# This is neither a GINI values or Entropy values
# Can say it is a probability values
# Giving the importance of each features or independent x variables
# One on one mapping, and higher the value, more significant is the column/feature/x variable

array([0.00982755, 0.0284784 , 0.06141777, 0.02988701, 0.0144632 ,
       0.2469711 , 0.08486993, 0.18160769, 0.05080394, 0.26060063,
       0.03107278])

In [35]:
dt_cr.feature_importances_.sum()

1.0

In [37]:
feature_imp = pd.DataFrame()

In [38]:
feature_imp['Features'] = train_cr_x.columns
feature_imp['Importance'] = dt_cr.feature_importances_

In [39]:
feature_imp

             Features  Importance
0              Gender    0.009828
1             Married    0.028478
2          Dependents    0.061418
3           Education    0.029887
4       Self_Employed    0.014463
5     ApplicantIncome    0.246971
6   CoapplicantIncome    0.084870
7          LoanAmount    0.181608
8    Loan_Amount_Term    0.050804
9      Credit_History    0.260601
10      Property_Area    0.031073

In [41]:
# or another way

feature_importance = pd.DataFrame({'Feature': train_cr_x.columns, 'Importance': dt_cr.feature_importances_})
feature_importance

              Feature  Importance
0              Gender    0.009828
1             Married    0.028478
2          Dependents    0.061418
3           Education    0.029887
4       Self_Employed    0.014463
5     ApplicantIncome    0.246971
6   CoapplicantIncome    0.084870
7          LoanAmount    0.181608
8    Loan_Amount_Term    0.050804
9      Credit_History    0.260601
10      Property_Area    0.031073

In [43]:
feature_imp.sort_values('Importance', ascending= False)

             Features  Importance
9      Credit_History    0.260601
5     ApplicantIncome    0.246971
7          LoanAmount    0.181608
6   CoapplicantIncome    0.084870
2          Dependents    0.061418
8    Loan_Amount_Term    0.050804
10      Property_Area    0.031073
3           Education    0.029887
1             Married    0.028478
4       Self_Employed    0.014463
0              Gender    0.009828

In [50]:
dt_crd = DecisionTreeClassifier(criterion='entropy', max_depth= 5)

# Decision tree depth or branches
# max-depth is also a hyper-parameter

In [51]:
dt_crd.fit(train_cr_x, train_cr_y)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [52]:
pred_dtd = dt_crd.predict(test_cr_x)

In [53]:
tab_dtd = confusion_matrix(test_cr_y, pred_dtd)
tab_dtd

array([[ 35,  25],
       [ 15, 122]], dtype=int64)

In [54]:
print('Accuracy score is --> ', accuracy_score(test_cr_y, pred_dtd)*100)
print('Precision score is --> ', precision_score(test_cr_y, pred_dtd)*100)
print('Recall score is --> ', recall_score(test_cr_y, pred_dtd)*100)
print('F1 score is --> ', f1_score(test_cr_y, pred_dtd)*100)

# From Entropy - Decision Tree

Accuracy score is -->  79.69543147208121
Precision score is -->  82.99319727891157
Recall score is -->  89.05109489051095
F1 score is -->  85.91549295774648

In [55]:
feature_imp['Features'] = train_cr_x.columns
feature_imp['Importance'] = dt_crd.feature_importances_

In [56]:
feature_imp.sort_values('Importance', ascending= False)

# since, max-depth is 5, it is showing 0 for Gender, married, self-employed

             Features  Importance
9      Credit_History    0.589029
6   CoapplicantIncome    0.104761
5     ApplicantIncome    0.078226
8    Loan_Amount_Term    0.075280
7          LoanAmount    0.066217
2          Dependents    0.034730
10      Property_Area    0.034217
3           Education    0.017540
0              Gender    0.000000
1             Married    0.000000
4       Self_Employed    0.000000

In [118]:
dt_crd = DecisionTreeClassifier(criterion='entropy',min_samples_split= 2)

# min_samples_split is again a hyper parameter

In [119]:
dt_crd.fit(train_cr_x, train_cr_y)

DecisionTreeClassifier(criterion='entropy')

In [120]:
pred_dtd = dt_crd.predict(test_cr_x)

In [121]:
tab_dtd = confusion_matrix(test_cr_y, pred_dtd)
tab_dtd

array([[ 34,  26],
       [ 17, 120]], dtype=int64)

In [122]:
print('Accuracy score is --> ', accuracy_score(test_cr_y, pred_dtd)*100)
print('Precision score is --> ', precision_score(test_cr_y, pred_dtd)*100)
print('Recall score is --> ', recall_score(test_cr_y, pred_dtd)*100)
print('F1 score is --> ', f1_score(test_cr_y, pred_dtd)*100)

# From Entropy - Decision Tree

Accuracy score is -->  78.1725888324873
Precision score is -->  82.1917808219178
Recall score is -->  87.59124087591242
F1 score is -->  84.80565371024736

In [123]:
feature_imp['Features'] = train_cr_x.columns
feature_imp['Importance'] = dt_crd.feature_importances_

In [124]:
feature_imp.sort_values('Importance', ascending= False)

             Features  Importance
5     ApplicantIncome    0.279931
9      Credit_History    0.205564
7          LoanAmount    0.190530
6   CoapplicantIncome    0.115047
2          Dependents    0.072167
8    Loan_Amount_Term    0.049168
10      Property_Area    0.027650
1             Married    0.023525
0              Gender    0.016094
4       Self_Employed    0.010594
3           Education    0.009731