In [1]:
import pandas as pd
import numpy as np

In [2]:
db = pd.read_csv(r'C:\Users\RahulK\Downloads\Machine Learning By Pranjal Sir\Decision Tree\diabetesLogistic.csv')

In [3]:
db.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
db.shape

(768, 9)

In [5]:
db.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.tree import DecisionTreeClassifier

In [8]:
db_train, db_test = train_test_split(db, test_size= .2)

In [9]:
db_train_x = db_train.iloc[:, 0:-1]
db_train_y = db_train.iloc[:, -1]

db_test_x = db_test.iloc[:, 0:-1]
db_test_y = db_test.iloc[:, -1]

In [10]:
logreg = LogisticRegression()

In [14]:
logreg.fit(db_train_x, db_train_y)

C:\Users\RahulK\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [15]:
log_predict = logreg.predict(db_test_x)

In [36]:
dt = DecisionTreeClassifier(max_depth= 5)

In [37]:
dt.fit(db_train_x, db_train_y)

DecisionTreeClassifier(max_depth=5)

In [38]:
db_pred = dt.predict(db_test_x)

In [39]:
tab_dt = confusion_matrix(db_test_y, db_pred)
tab_dt

array([[76, 24],
       [19, 35]], dtype=int64)

In [18]:
tab_log = confusion_matrix(db_test_y, log_predict)
tab_log

array([[86, 14],
       [25, 29]], dtype=int64)

In [40]:
print('Accuracy score is --> ', accuracy_score(db_test_y, db_pred)*100)
print('Precision score is --> ', precision_score(db_test_y, db_pred)*100)
print('Recall score is --> ', recall_score(db_test_y, db_pred)*100)
print('F1 score is --> ', f1_score(db_test_y, db_pred)*100)

# From Gini - Decision Tree

Accuracy score is -->  72.07792207792207
Precision score is -->  59.32203389830508
Recall score is -->  64.81481481481481
F1 score is -->  61.94690265486725

In [25]:
print('Accuracy score is --> ', accuracy_score(db_test_y, db_pred)*100)
print('Precision score is --> ', precision_score(db_test_y, db_pred)*100)
print('Recall score is --> ', recall_score(db_test_y, db_pred)*100)
print('F1 score is --> ', f1_score(db_test_y, db_pred)*100)

# From Entropy - Decision Tree

Accuracy score is -->  65.5844155844156
Precision score is -->  50.943396226415096
Recall score is -->  50.0
F1 score is -->  50.467289719626166

In [20]:
print('Accuracy score is --> ', accuracy_score(db_test_y, log_predict)*100)
print('Precision score is --> ', precision_score(db_test_y, log_predict)*100)
print('Recall score is --> ', recall_score(db_test_y, log_predict)*100)
print('F1 score is --> ', f1_score(db_test_y, log_predict)*100)

# From Logistic model

Accuracy score is -->  74.67532467532467
Precision score is -->  67.44186046511628
Recall score is -->  53.70370370370371
F1 score is -->  59.7938144329897

In [41]:
feature_imp = pd.DataFrame({'Feature': db_train_x.columns, 'Value': dt.feature_importances_})
feature_imp

                    Feature     Value
0               Pregnancies  0.034353
1                   Glucose  0.475166
2             BloodPressure  0.043213
3             SkinThickness  0.017001
4                   Insulin  0.058287
5                       BMI  0.194048
6  DiabetesPedigreeFunction  0.103163
7                       Age  0.074769

In [43]:
feature_imp.sort_values('Value', ascending= False)

                    Feature     Value
1                   Glucose  0.475166
5                       BMI  0.194048
6  DiabetesPedigreeFunction  0.103163
7                       Age  0.074769
4                   Insulin  0.058287
2             BloodPressure  0.043213
0               Pregnancies  0.034353
3             SkinThickness  0.017001