In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, roc_auc_score, roc_curve
import matplotlib.pyplot as plt

In [4]:
insub = pd.read_csv(r'C:\Users\RahulK\Downloads\Machine Learning By Pranjal Sir\Regression\Logistic\Insurance_suscribe.csv')

In [5]:
insub.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [6]:
insub.shape

(50882, 14)

In [7]:
insub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         39191 non-null  object
 9   Holding_Policy_Duration  30631 non-null  object
 10  Holding_Policy_Type      30631 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [33]:
insub = insub.drop(['Holding_Policy_Duration', 'Holding_Policy_Type', 'ID'], axis = 1)

In [29]:
insub['Health Indicator'].fillna('X1', inplace = True)

In [35]:
insub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_Code            50882 non-null  object
 1   Region_Code          50882 non-null  int64
 2   Accomodation_Type    50882 non-null  object
 3   Reco_Insurance_Type  50882 non-null  object
 4   Upper_Age            50882 non-null  int64
 5   Lower_Age            50882 non-null  int64
 6   Is_Spouse            50882 non-null  object
 7   Health Indicator     50882 non-null  object
 8   Reco_Policy_Cat      50882 non-null  int64
 9   Reco_Policy_Premium  50882 non-null  float64
 10  Response             50882 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 4.3+ MB

In [42]:
insub.City_Code = le.fit_transform(insub.City_Code)
insub.Accomodation_Type = le.fit_transform(insub.Accomodation_Type)
insub.Reco_Insurance_Type = le.fit_transform(insub.Reco_Insurance_Type)
insub.Is_Spouse = le.fit_transform(insub.Is_Spouse)
insub['Health Indicator'] = le.fit_transform(insub['Health Indicator'])

In [43]:
insub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_Code            50882 non-null  int32
 1   Region_Code          50882 non-null  int64
 2   Accomodation_Type    50882 non-null  int32
 3   Reco_Insurance_Type  50882 non-null  int32
 4   Upper_Age            50882 non-null  int64
 5   Lower_Age            50882 non-null  int64
 6   Is_Spouse            50882 non-null  int32
 7   Health Indicator     50882 non-null  int32
 8   Reco_Policy_Cat      50882 non-null  int64
 9   Reco_Policy_Premium  50882 non-null  float64
 10  Response             50882 non-null  int64
dtypes: float64(1), int32(5), int64(5)
memory usage: 3.3 MB

In [36]:
insub.isnull().sum()

City_Code              0
Region_Code            0
Accomodation_Type      0
Reco_Insurance_Type    0
Upper_Age              0
Lower_Age              0
Is_Spouse              0
Health Indicator       0
Reco_Policy_Cat        0
Reco_Policy_Premium    0
Response               0
dtype: int64

In [26]:
insub.isnull().sum()[insub.isnull().sum()*100/insub.shape[0]  > 39]

Holding_Policy_Duration    20251
Holding_Policy_Type        20251
dtype: int64

In [44]:
insub_train, insub_test = train_test_split(insub, test_size=.2)

In [45]:
insub_train_x = insub_train.iloc[:,0:-1]
insub_train_y = insub_train.iloc[:, -1]

insub_test_x = insub_test.iloc[:,0:-1]
insub_test_y = insub_test.iloc[:, -1]

In [46]:
logreg = LogisticRegression()

In [47]:
logreg.fit(insub_train_x, insub_train_y)

LogisticRegression()

In [48]:
pred_test = logreg.predict(insub_test_x)

In [49]:
tab1 = confusion_matrix(insub_test_y, pred_test)
tab1

array([[7746,    0],
       [2431,    0]], dtype=int64)

In [53]:
insub.groupby(['Response'])

In [58]:
insub_test[insub.Response == 1]

C:\Users\RahulK\AppData\Local\Temp\ipykernel_6448\567173557.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  insub_test[insub.Response == 1]

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Reco_Policy_Cat,Reco_Policy_Premium,Response
8457,18,1720,1,0,75,75,0,5,15,19808.0,1
28789,0,722,0,0,52,52,0,0,16,15184.0,1
42925,7,1363,1,0,23,23,0,0,19,10240.0,1
30326,30,4381,0,1,49,48,1,1,6,13216.0,1
1281,22,1592,1,0,40,40,0,0,13,10008.0,1
...,...,...,...,...,...,...,...,...,...,...,...
10259,30,596,0,1,52,48,1,0,18,21824.0,1
734,11,3761,1,0,38,38,0,3,22,8412.0,1
46675,0,2178,1,1,60,25,0,3,5,25440.8,1
2201,22,5161,0,0,25,25,0,1,22,8568.0,1
9196,10,423,0,0,61,61,0,3,19,13596.0,1